<div class="container" style="margin-top: 70px;">

    <div class="row">
  
      <!--div class="col-sm-8 offset-sm-2"-->
      <div>
  
        <div>
          <form>
            
            <div class="form-group form-inline">
              <ng-container *ngIf="inventory.url1 as url;"><img width="400" [src]="url"></ng-container>
              <ng-container *ngIf="inventory.url2 as url;"><img width="400" [src]="url"></ng-container>
              <ng-container *ngIf="inventory.url3 as url;"><img width="400" [src]="url"></ng-container>
              <ng-container *ngIf="inventory.url4 as url;"><img width="400" [src]="url"></ng-container>
              <ng-container *ngIf="inventory.url5 as url;"><img width="400" [src]="url"></ng-container>
            </div>
            <div class="form-group form-inline">
              <label class="small_label" for="item_id">Item Id</label>&nbsp;
              <input readonly [(ngModel)]="inventory.item_id" type="text" name="item_id" class="form-control" id="item_id">
              <label class="small_label" for="source">Source</label>&nbsp;
              <input [readOnly]="display_only" [(ngModel)]="inventory.source" type="text" name="source" class="form-control" id="source">
              <label class="small_label" for="value">Value</label>&nbsp;
              <input [readOnly]="display_only" [(ngModel)]="inventory.value" type="text" name="value" class="form-control" id="value">
             </div>
            <div class="form-group form-inline">
              <label class="small_label" for="email">Inventory Date</label>&nbsp;
              <input [readOnly]="display_only" [(ngModel)]="inventory.inventory_date" type="text" name="email" class="form-control" id="email">
              <label class="small_label" for="type">type</label>&nbsp;
              <input [readOnly]="display_only" [(ngModel)]="inventory.type" type="text" name="type" class="form-control" id="type">
              <label class="small_label" for="date_year">Date Year</label>&nbsp;
              <input [readOnly]="display_only" [(ngModel)]="inventory.date_year" type="text" name="date_year" class="form-control" id="date_year">
            </div>
            <div class="form-group form-inline">
              <label class="small_label" for="condition">Condition</label>&nbsp;
              <input [readOnly]="display_only" [(ngModel)]="inventory.condition" type="text" name="condition" class="form-control" id="condition">
              <label class="small_label" for="category">Category</label>&nbsp;
              <input [readOnly]="display_only" [(ngModel)]="inventory.category" type="text" name="category" class="form-control" id="category">
            </div>
            <div class="form-group form-inline">
              <label class="small_label" for="height">Height</label>&nbsp;
              <input [readOnly]="display_only" [(ngModel)]="inventory.height" type="text" name="height" class="form-control" id="height">
              <label class="small_label" for="width">Width</label>&nbsp;
              <input [readOnly]="display_only" [(ngModel)]="inventory.width" type="text" name="width" class="form-control" id="width">
              <label class="small_label" for="depth">Depth</label>&nbsp;
              <input [readOnly]="display_only" [(ngModel)]="inventory.depth" type="text" name="depth" class="form-control" id="depth">
            </div>


            <div class="form-group form-inline">
              <label class="small_label" for="size_notes">Size Notes</label>&nbsp;
              <textarea class="wide_input" [readOnly]="display_only" [(ngModel)]="inventory.size_notes" rows="1" cols="100" name="size_notes" class="form-control"></textarea>
            </div>
            <div class="form-group form-inline">
              <label class="small_label"  for="notes">Notes</label>&nbsp;
              <textarea class="wide_input" [readOnly]="display_only" [(ngModel)]="inventory.notes" rows="1" cols="100" name="notes" class="form-control" id="notes"></textarea>
            </div>
            <div class="form-group form-inline">
              <label class="small_label"  for="title">Title</label>&nbsp;
              <textarea class="wide_input" [readOnly]="display_only" [(ngModel)]="inventory.title" rows="1" cols="100"  name="title" class="form-control" id="title"></textarea>
            </div>
            <div class="form-group form-inline">
              <label class="small_label"  for="series">Series</label>&nbsp;
              <textarea class="wide_input" [readOnly]="display_only" [(ngModel)]="inventory.series" rows="1" cols="100" name="series" class="form-control" id="series"></textarea>
            </div>
            <div class="form-group form-inline">
              <label class="small_label"  for="location">Location</label>&nbsp;
              <textarea class="wide_input" [readOnly]="display_only" [(ngModel)]="inventory.location" rows="1" cols="100"  name="location" class="form-control" id="location"></textarea>
            </div>
            <div class="form-group form-inline">  
              <label class="small_label"  for="medium">Medium</label>&nbsp;
              <textarea class="wide_input" [readOnly]="display_only" [(ngModel)]="inventory.medium" rows="1" cols="100"  name="medium" class="form-control" id="medium"></textarea>
            </div>
            <div class="form-group form-inline">
              <label class="small_label"  for="signatures_and_writing">Signature And Wriiting</label>&nbsp;
              <textarea class="wide_input" [readOnly]="display_only" [(ngModel)]="inventory.signatures_and_writing" rows="1" cols="100" name="signatures_and_writing" class="form-control" id="signatures_and_writing"></textarea>
            </div>

            <ng-container *ngIf="authService.isAdmin$| async">
            <label for="file1">File1</label>&nbsp;
            <input [readOnly]="display_only" [(ngModel)]="inventory.file1" type="text" name="file1" class="form-control" id="file1">
            <input [readOnly]="display_only" [(ngModel)]="inventory.image1" type="text" name="image1" class="form-control" id="image1">
            <input [readOnly]="display_only" [(ngModel)]="inventory.url1" type="text" name="url1" class="form-control" id="url1">

            <label for="file1">File1</label>&nbsp;
            <input [readOnly]="display_only" [(ngModel)]="inventory.file2" type="text" name="file2" class="form-control" id="file2">
            <input [readOnly]="display_only" [(ngModel)]="inventory.image2" type="text" name="image2" class="form-control" id="image2">
            <input [readOnly]="display_only" [(ngModel)]="inventory.url2" type="text" name="url2" class="form-control" id="url2">

            <label for="file1">File1</label>&nbsp;
            <input [readOnly]="display_only" [(ngModel)]="inventory.file3" type="text" name="file3" class="form-control" id="file3">
            <input [readOnly]="display_only" [(ngModel)]="inventory.image3" type="text" name="image3" class="form-control" id="image3">
            <input [readOnly]="display_only" [(ngModel)]="inventory.url3" type="text" name="url3" class="form-control" id="url3">

            <label for="file1">File1</label>&nbsp;
            <input [readOnly]="display_only" [(ngModel)]="inventory.file4" type="text" name="file4" class="form-control" id="file4">
            <input [readOnly]="display_only" [(ngModel)]="inventory.image4" type="text" name="image4" class="form-control" id="image4">
            <input [readOnly]="display_only" [(ngModel)]="inventory.url4" type="text" name="url4" class="form-control" id="url4">

            <label for="file1">File1</label>&nbsp;
            <input [readOnly]="display_only" [(ngModel)]="inventory.file5" type="text" name="file5" class="form-control" id="file5">
            <input [readOnly]="display_only" [(ngModel)]="inventory.image5" type="text" name="image5" class="form-control" id="image5">
            <input [readOnly]="display_only" [(ngModel)]="inventory.url5" type="text" name="url15" class="form-control" id="url5">

          </ng-container>
            
          </form>
          <button class="btn btn-primary" (click)="createContact()">{{label}} contact</button>
          &nbsp;
          <button class="btn btn-primary" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  
