<div class="container" style="margin-top: 100px;">
  <div class="title">
  <button class="btn btn-primary" (click)="generatePdf()">Open PDF</button>
  &nbsp;
  <label>Search&nbsp;
    <input [(ngModel)]="searchText" type="text" name="fileName"> 
  </label>  
  <span aria-hidden="true" (click)="clearSearch()" class="text-danger fa-2x">&times;</span>
  </div>
  <table class="table table-hover">
      <thead class="title">
        <tr>
          <th></th>
          <th nowrap><button  (click)="sort(true, 'id')"         class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>#         <button  (click)="sort(false, 'id')"         class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></th>
          <th nowrap><button  (click)="sort(true, 'title')"      class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>Title     <button  (click)="sort(false, 'title')"      class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></th>
          <th nowrap><button  (click)="sort(true, 'first_name')" class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>First Name<button  (click)="sort(false, 'first_name')" class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></th>
          <th nowrap><button  (click)="sort(true, 'last_name')"  class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>Last Name <button  (click)="sort(false, 'last_name')"  class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></th>
          <th nowrap><button  (click)="sort(true, 'phone')"      class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>Phone     <button  (click)="sort(false, 'phone')"      class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></th>
          <th nowrap><button  (click)="sort(true, 'email')"      class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>Email     <button  (click)="sort(false, 'email')"      class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></th>
          <th nowrap><button  (click)="sort(true, 'company')"    class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>Company   <button  (click)="sort(false, 'company')"    class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></th>
          <th nowrap><button  (click)="sort(true, 'address')"    class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>Address   <button  (click)="sort(false, 'address')"    class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></th>
          <th nowrap><button  (click)="sort(true, 'city')"       class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>City      <button  (click)="sort(false, 'city')"       class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></th>
          <th nowrap><button  (click)="sort(true, 'country')"    class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>Country   <button  (click)="sort(false, 'country')"    class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></th>
          <th nowrap><button  (click)="sort(true, 'state')"      class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>State     <button  (click)="sort(false, 'state')"      class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></th>
          <th nowrap><button  (click)="sort(true, 'post_code')"  class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>Post Code <button  (click)="sort(false, 'post_code')"  class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let contact of contactService.contacts$| async">
        <tr *ngIf="contact.includes_string(searchText)">
          <td>
            <div class="btn-group">
              <button class="btn btn-primary" (click)="selectContact(contact)"><fa-icon [icon]="faPencil"></fa-icon></button>
              <button class="btn btn-primary" (click)="deleteContact(contact)"><fa-icon [icon]="faTrash"></fa-icon></button>
            </div>  
          </td>
          <td nowrap> {{ contact.id }} </td>
          <td nowrap> {{ contact.title}}</td>
          <td nowrap> {{ contact.first_name }}</td>
          <td nowrap> {{ contact.last_name }}</td>
          <td nowrap> {{ contact.phone }}</td>
          <td nowrap> {{ contact.email }}</td>
          <td nowrap> {{ contact.company }}</td>
          <td nowrap> {{ contact.address }}</td>
          <td nowrap> {{ contact.city}}</td>
          <td nowrap> {{ contact.country }}</td>
          <td nowrap> {{ contact.state}}</td>
          <td nowrap> {{ contact.post_code }}</td>
          <td>
            <div class="btn-group">
              <button class="btn btn-primary" (click)="selectContact(contact)"><fa-icon [icon]="faPencil"></fa-icon></button>
              <button class="btn btn-primary" (click)="deleteContact(contact)"><fa-icon [icon]="faTrash"></fa-icon></button>
            </div>  
          </td>
        </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  
