
  <div class="title" style="margin-top: 50px;">
    &nbsp;
    <button (click)="startSearch()">Search</button>&nbsp;
    <!-- <label>Search&nbsp; -->
      <input [(ngModel)]="searchText" type="text" name="fileName">
    <!-- </label> -->
    <span aria-hidden="true" (click)="clearSearch()" class="text-danger fa-2x">&times;</span>
  </div>     
  <cdk-virtual-scroll-viewport style="height:800px" itemSize="10">
   <div class="title-element"> 
    <div class="inner-span title-element count-column"></div>
    <div class="inner-span title-element control-column"></div>
    <div class="inner-span title-element item-id-column">               <button (click)="sort(true, 'item_id')"                class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>Item Id                <button (click)="sort(false, 'item_id')"                class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></div>
    <div class="inner-span title-element source-column">                <button (click)="sort(true, 'source')"                 class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>Source                 <button (click)="sort(false, 'source')"                 class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></div>
    <div class="inner-span title-element notes-column">                 <button (click)="sort(true, 'notes')"                  class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>Notes                  <button (click)="sort(false, 'notes')"                  class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></div>
    <div class="inner-span title-element location-column">              <button (click)="sort(true, 'location')"               class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>Location               <button (click)="sort(false, 'location')"               class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></div>
    <div class="inner-span title-element value-column">                 <button (click)="sort(true, 'value')"                  class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>Value                  <button (click)="sort(false, 'value')"                  class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></div>
    <div class="inner-span title-element inventory-date-column">        <button (click)="sort(true, 'inventory_date')"         class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>inventory Date         <button (click)="sort(false, 'inventory_date')"         class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></div>
    <div class="inner-span title-element title-column">                 <button (click)="sort(true, 'title')"                  class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>Title                  <button (click)="sort(false, 'title')"                  class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></div>
    <div class="inner-span title-element series-column">                <button (click)="sort(true, 'series')"                 class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>series                 <button (click)="sort(false, 'series')"                 class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></div>
    <div class="inner-span title-element type-column">                  <button (click)="sort(true, 'type')"                   class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>Type                   <button (click)="sort(false, 'type')"                   class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></div>
    <div class="inner-span title-element date-year-column">             <button (click)="sort(true, 'date_year')"              class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>Date Year              <button (click)="sort(false, 'date_year')"              class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></div>
    <div class="inner-span title-element medium-column">                <button (click)="sort(true, 'medium')"                 class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>Medium                 <button (click)="sort(false, 'medium')"                 class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></div>
    <div class="inner-span title-element signatures-and-writing-column"><button (click)="sort(true, 'signatures_and_writing')" class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>Signatures And Writing <button (click)="sort(false, 'signatures_and_writing')" class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></div>
    <div class="inner-span title-element condition-column">             <button (click)="sort(true, 'condition')"              class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>Condition              <button (click)="sort(false, 'condition')"              class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></div>
    <div class="inner-span title-element category-column">              <button (click)="sort(true, 'category')"               class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>Category               <button (click)="sort(false, 'category')"               class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></div>
    <div class="inner-span title-element height-column">                <button (click)="sort(true, 'height')"                 class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>Height                 <button (click)="sort(false, 'Height')"                 class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></div>
    <div class="inner-span title-element width-column">                 <button (click)="sort(true, 'width')"                  class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>Width                  <button (click)="sort(false, 'widdiv')"                 class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></div>
    <div class="inner-span title-element depth-column">                 <button (click)="sort(true, 'depth')"                  class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>Depth                  <button (click)="sort(false, 'depdiv')"                 class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></div>
    <div class="inner-span title-element size-notes-column">            <button (click)="sort(true, 'size_notes')"             class="btn"><fa-icon class="chevron" [icon]="faChevronUp"></fa-icon></button>Size Notes             <button (click)="sort(false, 'size_notes')"             class="btn"><fa-icon class="chevron" [icon]="faChevronDown"></fa-icon></button></div>
    <div class="inner-span title-element image-column"></div>
    <div class="inner-span title-element image-column"></div>
    <div class="inner-span title-element image-column"></div>
    <div class="inner-span title-element image-column"></div>
    <div class="inner-span title-element image-column"></div>
    <div class="inner-span title-element control-column"></div>
    <div class="inner-span title-element d-column"></div>
    <div class="inner-span title-element d-column"></div>
    <div class="inner-span title-element d-column"></div>
    <div class="inner-span title-element d-column"></div>
    <div class="inner-span title-element d-column"></div>
    </div>
      <ng-container *cdkVirtualFor="let inventory of inventoryService.inventory$|async; let row_index = index">
        <div [style.background-color]="get_color(row_index)"> 
        <div class="inner-span count-column">                 {{ row_index + 1}}</div>
        <div class="inner-control detail-row  control-column">
            <div class="btn-group">
              <button style="font-size:10px"  class="btn btn-primary" (click)="showInventory(inventory)">
                <fa-icon class="fa-xs" [icon]="faeyeicon"></fa-icon>
              </button> 
              <ng-container *ngIf="authService.isReadWrite$|async">
                <button style="font-size:10px"  class="btn btn-primary" (click)="updateInventory(inventory)">
                  <fa-icon class="fa-xs" [icon]="faPencil"></fa-icon>
                </button> 
                <ng-container *ngIf="authService.isAdmin$|async">
                  <button style="font-size:10px"  class="btn btn-primary" (click)="deleteInventory(inventory)">
                    <fa-icon class="fa-xs" [icon]="faTrash"></fa-icon>
                  </button> 
                </ng-container>
              </ng-container>
          </div>
        </div>
        <div class="inner-span item-id-column">                {{ inventory.item_id }} </div>
        <div class="inner-span source-column">                 {{ inventory.source }}</div>
        <div class="inner-span notes-column">                  {{ inventory.notes }}</div>
        <div class="inner-span location-column">               {{ inventory.location }}</div>
        <div class="inner-span value-column">                  {{ inventory.value }}</div>
        <div class="inner-span inventory-date-column">         {{ inventory.inventory_date }}</div>
        <div class="inner-span title-column">                  {{ inventory.title }}</div>
        <div class="inner-span series-column">                 {{ inventory.series }}</div>
        <div class="inner-span type-column">                   {{ inventory.type }}</div>
        <div class="inner-span date-year-column">              {{ inventory.date_year }}</div>
        <div class="inner-span medium-column">                 {{ inventory.medium }}</div>
        <div class="inner-span signatures-and-writing-column"> {{ inventory.signatures_and_writing}}</div>
        <div class="inner-span condition-column">              {{ inventory.condition}}</div>
        <div class="inner-span category-column">               {{ inventory.category }}</div>
        <div class="inner-span height-column">                 {{ inventory.height }}</div>
        <div class="inner-span width-column">                  {{ inventory.width }}</div>
        <div class="inner-span depth-column">                  {{ inventory.depth }}</div>
        <div class="inner-span size-notes-column">             {{ inventory.size_notes }}</div>
        <div class="inner-span image-column"> 
          <ng-container *ngIf="inventory.url1 as url"><img height="30px" [src]="url"></ng-container>
        </div>
        <div class="inner-span image-column">
          <ng-container *ngIf="inventory.url2 as url"><img height="30px" [src]="url"></ng-container>
        </div>
        <div class="inner-span image-column">
          <ng-container *ngIf="inventory.url3 as url"><img height="30px" [src]="url"></ng-container>
        </div>
        <div class="inner-span image-column">
          <ng-container *ngIf="inventory.url4 as url"><img height="30px" [src]="url"></ng-container>
        </div>
        <div class="inner-span image-column">
          <ng-container *ngIf="inventory.url5 as url"><img height="30px" [src]="url"></ng-container>
        </div>
        <div class="inner-control control-column">
            <div class="btn-group">
              <button style="font-size:10px"  class="btn btn-primary" (click)="showInventory(inventory)">
                <fa-icon class="fa-xs" [icon]="faeyeicon"></fa-icon>
              </button> 
              <ng-container *ngIf="authService.isReadWrite$|async">
                <button style="font-size:10px"  class="btn btn-primary" (click)="updateInventory(inventory)">
                  <fa-icon class="fa-xs" [icon]="faPencil"></fa-icon>
                </button> 
                <ng-container *ngIf="authService.isAdmin$|async">
                  <button style="font-size:10px"  class="btn btn-primary" (click)="deleteInventory(inventory)">
                    <fa-icon class="fa-xs" [icon]="faTrash"></fa-icon>
                  </button> 
                </ng-container>
              </ng-container>
          </div>
        </div>
        <!-- <div class="d-column"> {{ inventory.file1 }}</div>
        <div class="d-column"> {{ inventory.file2 }}</div>
        <div class="d-column"> {{ inventory.file3 }}</div>
        <div class="d-column"> {{ inventory.file4 }}</div>
        <div class="d-column"> {{ inventory.file5 }}</div> -->
        <!-- <div class="inner-span"> {{ inventory.image1 }}</div>
        <div class="inner-span"> {{ inventory.image2 }}</div>
        <div class="inner-span"> {{ inventory.image3 }}</div>
        <div class="inner-span"> {{ inventory.image4 }}</div>
        <div class="inner-span"> {{ inventory.image5 }}</div> -->
        <!--  <div class="d-column"> {{ inventory.url1 }}</div>
        <div class="d-column"> {{ inventory.url2 }}</div>
        <div class="d-column"> {{ inventory.url3 }}</div>
        <div class="d-column"> {{ inventory.url4 }}</div>
        <div class="d-column">{{ inventory.url5 }}</div>  -->
        <!-- <div>&nbsp;ddd</div> -->
        <!-- </div> -->
        </div>
    </ng-container>
  </cdk-virtual-scroll-viewport>

