<div style="margin-top: 100px;">
<div class="container title">
  <button class="btn btn-primary" (click)="writeCsv()">Save Local File</button>
  &nbsp;
  <label>File Name
      <input [(ngModel)]="fileName" type="text" name="fileName"> 
  </label>
  <ng-container *ngIf="isAdmin$|async">
    <div class="container">
      <div class="col-md-8 form-group">
      <input type="file" class="form-control btn btn-primary" (change)="uploadedFile($event)" placeholder="Upload file" accept=".xlsx">
      </div>
      </div>  
</ng-container>
</div>
